* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 480px;
  height: 800px;
  margin: 5rem auto;
  background-image: url("img/app.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.App:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.App.hot {
  background-image: linear-gradient(to bottom,
      rgba(255, 167, 16, 0.52),
      rgba(0, 0, 0, 0.73)),
    url("img/hot2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.App.cold {
  background-image: linear-gradient(to bottom,
      rgba(0, 229, 255, 0.52),
      rgba(0, 0, 0, 0.73)),
    url("img/cold.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}

.search-container {
  width: 100%;
  margin: 0 0 75px;
  /* top, left-right, bottom */
}

.search-bar {
  display: block;
  width: 100%;
  padding: 20px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-container .search-bar:focus {
  background-color: white;
}

.location-container {
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.location-container .date {
  color: white;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.weather-container {
  text-align: center;
}

.weather-container .temperature {
  position: relative;
  display: inline-block;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-container .weather {
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  padding: 50px 25px;

}

.BG {
  background: darkturquoise;
}